.card-content {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.cards-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(-1* var(--card-set-gap));
    margin-top: calc(-1* var(--card-set-gap));
}

.cards-type .cards-type__about {
    flex-basis: calc(100% /3 - 30px);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.cards-type__wrapper {
    position: relative;
    overflow: hidden;
}