.members {
    display: block;
    max-width: 100%;
    height: auto;
}

.team {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--type-color);
    margin-bottom: 50px;
}

.card-style {
    padding-top: 30px;
    padding-bottom: 30px;
}

.style {
    background-color: #F5F4FA;

}

/*Company*/
.card-set {
    display: flex;
    padding: 0;

    & .company {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-left: 30px;
        background-color: #FFFFFF;
        background-color: #FFFFFF;
    }
}

.company:first-child {
    margin-left: 0px;
}


.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--type-color);
}

.job {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--mini-calor);
    margin-top: 10px;
    margin-bottom: 16px;
}